body { 
    background-image: url('/static/images/website-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.headings {
    font-family: 'Rajdhani', sans-serif;
    text-transform: capitalize;
    left: 2rem;
}

footer {
    padding: 2px;
    color: white;
}

#recipe-page {
    font-family: 'Rajdhani', sans-serif;
    text-transform: capitalize;
    font-size: 1.5em;
    padding: 1.5em;
}

.input-field>label {
    color: black;
}

#recipe_ingredients::placeholder {
    color: black;
    font-size: 1rem;
}

#recipe_steps::placeholder {
    color: black;
    font-size: 1rem;
}

.card-image>img {
    aspect-ratio: 1;
    object-fit: cover;
}
