{% extends "base.html" %}
{% block content %}


<h3 class="text-shadow brand-logo center-align"> Add Recipe </h3>
<br>

<div class="row card-panel grey lighten-5">
  <form class="col s12" method="POST" enctype="multipart/form-data" action="{{ url_for('add_recipe') }}">
    <!-- add recipe name-->
    <div class="row">
      <div class="input-field col s12">
        <p>Recipe name:</p>
        <input id="recipe_name" type="text" name="recipe_name" maxlength="15" class="validate" required>
      </div>
    </div>
    <!-- add ingredients -->
    <div class="row">
      <div class="input-field col s12">
        <p>Ingredients (Please write ingredients individally divided by a ","):</p>
        <input id="recipe_ingredients" type="text" name="recipe_ingredients" class="validate" required>
      </div>
    </div>
    <!-- allergens -->
    <div class="row">
      <div class="input-field col s12">
        <select multiple id="recipe_allergens" name="recipe_allergens" class="validate" required>
            <option value="" disabled selected>Click to add any allergens: </option>
          <option value="No Allergens">No Allergens</option>
          <option value="Gluten">Gluten</option>
          <option value="Nuts">Nuts</option>
        </select>
      </div>
    </div>
    <!-- short description of the recipe -->
    <div class="row">
      <div class="input-field col s12">
        <p>Add a short description:</p>
        <textarea id="recipe_description" name="recipe_description" class="materialize-textarea" maxlength="90" required></textarea>
      </div>
    </div>
    <!-- steps of the recipe -->
    <div class="row">
      <div class="input-field col s12">
        <p>Describe the steps to prepare your recipe:</p>
        <textarea id="recipe_steps" name="recipe_steps" class="materialize-textarea" required></textarea>
      </div>
    </div>
    <!-- category of the dish -->
    <div class="row">
      <div class="input-field col s12">
        <select multiple id="recipe_category" name="recipe_category" class="validate" required>
          <option value="" disabled selected>Click to select the category: </option>
          <option value="Appetizer">Appetizer</option>
          <option value="First Course">Main Course</option>
          <option value="Dessert">Dessert</option>
        </select>
      </div>
    </div>
    <br>
     <div class="file-field input-field">
        <p>Upload an image by URL</p>
        <input placeholder="Paste the image URL" type="url" name="recipe_image" id="recipe_image" onchange="addImage();" required pattern="https://.*" class="validate">
      </div>
    <br>

    <!-- submit button -->
    <div class="row">
      <div class="col s12 center-align">
        <button class="col s12 btn text-shadow lime darken-4" type="submit" name="action" type="submit">Submit
        </button>
      </div>
    </div>
    
  </form>
  
  
</div>


{% endblock %}