{% extends "base.html" %}
{% block content %}

    <h3 class="center-align headings">Edit Recipe</h3>

    <div class="row card-panel green lighten-4">
        <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <!-- edit recipe name-->
            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_name" name="recipe_name" value="{{ recipe.recipe_name }}" type="text" class="active validate" required>
                    <label for="recipe_name">Recipe Name:</label>
                </div>
            </div>
            <!-- edit ingredients-->
            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_ingredients" name="recipe_ingredients" value="{{ recipe.recipe_ingredients }}" type="text" class="active validate" required>
                  <label for="recipe_ingredients">Ingredients:</label>
                </div>
              </div>
            <!-- edit allergens -->
            <div class="row">
                <div class="input-field col s12">
                <select multiple id="recipe_allergens" name="recipe_allergens" value="{{ recipe.recipe_allergens }}" class=" active validate" required>
                    <option value="No Allergens">No Allergens</option>
                    <option value="Gluten">Gluten</option>
                    <option value="Nuts">Nuts</option>
                </select>
                <label for="recipe_allergens">Click to add any allergens: </label>
                </div>
            </div>
            <!-- short description of the recipe -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="recipe_description" name="recipe_description" class="materialize-textarea active validate" 
                            required> {{- recipe.recipe_description -}} </textarea>
                    <label for="recipe_description">Add a short description:</label>
                </div>
            </div>
            <!-- edit steps -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="recipe_steps" name="recipe_steps" class="materialize-textarea active validate" 
                            required> {{- recipe.recipe_steps -}} </textarea>
                    <label for="recipe_description">Describe the steps to prepare your recipe: </label>
                </div>
            </div>
            <!-- category of the dish -->
            <div class="row">
                <div class="input-field col s12">
                <select multiple id="recipe_category" name="recipe_category" value="{{ recipe.recipe_category }}"class="validate" required>
                    <option value="Appetizer">Appetizer</option>
                    <option value="Main Course">Main Course</option>
                    <option value="Dessert">Dessert</option>
                </select>
                <label for="recipe_category">Click to add category of the dish: </label>
                </div>
            </div>
            <!-- edit image -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_image" name="recipe_image" value="{{ recipe.recipe_image }}" type="text" class="validate" required>
                    <label for="url_uploaded">Please paste a link to an image of your recipe here:</label>
                </div>
            <!--cancel and submit buttons-->
            <div class="row">
                <a href="{{ url_for('get_recipes') }}" class="btn-large green lighten-1 text-shadow">
                    Cancel <i class="fas fa-times-circle right"></i>
                </a>
                <button type="submit" class="btn-large green darken-2 text-shadow">
                    Edit Recipe <i class="fas fa-edit right"></i>
                </button>
            </div> 
        </form>
    </div>


{% endblock %}