{% extends "base.html" %}
{% block content %}
<h3 class="headings text-shadow center-align">Full {{recipe.recipe_name}} recipe</h3>
<br>

<div class="row">
    <div class="card green lighten-4">
      <form method="POST" action="{{ url_for('show_recipe', recipe_id=recipe._id) }}">
        <div class="card-image">
          <div id="recipe-page">
          <img src="{{ recipe.recipe_image }}" alt=" {{ recipe.recipe_name }}"/>
          <h4 strong class=" text-shadow center-align">{{ recipe.recipe_name}}</h4>
          <p>Category: {{ recipe.recipe_category }} </p>
          <p>Allergens: {{ recipe.recipe_allergens }} </p>
          <p>Serves: {{ recipe.recipe_serves }}</p>
          <p>Cooking Time: {{ recipe.cooking_time }}</p>
          <p>Ingredients:</p>
          <ol>
          {% for ingredient in recipe.recipe_ingredients.split(",") %}
          <li>{{ingredient}}</li>
          {% endfor %}
          </ol>
          <p>Steps:</p>
          <ol>
          {% for step in recipe.recipe_steps.split(",") %}
          <li>{{step}}</li>
          {% endfor %}
          </ol>
          <p>Uploaded by: {{ recipe.created_by }}</p>
          <div class="row">
            <div class="col s12">
                <p class="center-align">
                    Return to
                    <a href="{{ url_for('get_recipes') }}">Recipes</a>
                </p>
            </div>
        </div>
        </div>
      </div>
      </form>
    </div>
</div>
{% endblock %}